<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Product Design</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="/pricesheets">Price Sheets</a>
        <a href="/mydesigns">My Designs</a>
        <a href="/shoppingcart">Shopping Cart</a>
        <a href="/orders">Orders</a>
        <a href="/fullfillment">Fulfillment</a>
        <a href="/marketing">Marketing</a>
        <div class="right">
            <div class="user">Christopher @ Image</div>
        </div>
    </div>

    <div class="header">
        <div class="header-content">
            <h1>PURPLEPRESS</h1>
            <p>Focused School Photography</p>
            <div class="date">June 18, 2024</div>
        </div>
    </div>
    
</body>
</html>